<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ListProduct</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<h1>ListProduct</h1>
<a th:href="@{/cart}">Your cart</a>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>addToCart</th>
    </tr>
    <tr th:each="p : ${products}" th:object="${p}">
        <td>
            <a th:href="@{/product/detail(id=*{id})}">
                <img th:src="@{*{image}}" style="width: 50px; height: 50px">
            </a>
        </td>
        <td th:text="*{name}"></td>
        <td th:text="*{#numbers.formatCurrency(price)}"></td>
        <td>
            <button><a th:href="@{/product/add(id=*{id})}">+</a></button>
        </td>
    </tr>
</table>
</body>
</html>